/* .bottom-button {
  background-color: #6fbe44;
  color: white;
  width: 80%;
  height: 50px;
  float: left;
  margin: 3% 10%;
  padding: 1% 1%;
  border-radius: 10px;
  border: 5px solid rgb(6, 97, 6);
  border-top: 0;
  border-left: 0;red
  border-right: 0;
  font-size: 1.2em;
} */
::placeholder {
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
}

/* ::placeholder {
  color: #ab34c5;
}

#inputID::placeholder {
  color: #ab34c5;
} */
